@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="sidebar" class="col-md-3">
    <div class="sidebarComponent">
        @{Author me = SidebarFactory.GetAuthor();}
        <div id="avator">
            <img id="icon" src="@me.Profile_pic" />
            <small>@me.Name</small>
        </div>
        <small>@me.Introduction</small>
    </div>
    <div class="sidebarComponent">
        <small>Article by date</small>
    </div>
    <div class="sidebarComponent">
        <small>Article by category</small>
        <br />
        @{var category = SidebarFactory.GetSortedCount("category").Take(50);
        }
        @foreach (var pair in category)
        {
            <a href="/category/@pair.Key.Trim()" class="l" style="font-size:small">@(string.Format("{0}({1})", pair.Key, pair.Value))</a>
        }
    </div>
    <div class="sidebarComponent">
        <small>Article by tags</small>
        <br />
        @{var tags = SidebarFactory.GetSortedCount("tags").Take(50);
        }
        @foreach (var pair in tags)
        {
            <a href="/tag/@pair.Key.Trim().Replace("#","%23")" class="l" style="font-size:small">@(string.Format("{0}({1})", pair.Key, pair.Value))</a>
        }
    </div>
</div>
