@model Blog
<head>
    <link rel="stylesheet" href="~/lib/highlight/styles/vs2015.css">
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<div id="blogBody" class="col-md-9">
    @{string dhref = string.Format("https://hychan.asuscomm.com/blog/{0}", Model.Id);}
    <div class="blogPost">
        <a class="blogTitle" href="/blog/@Model.Id">@Model.Title</a>
        @if (ViewData["AdminMode"] != null && (Boolean)ViewData["AdminMode"])
        {
            <a class="l small" href="/blog/edit/@Model.Id" style="float:right">Edit</a>
        }
        <div class="header">
            <small class="gray headerItems">@Model.Create_Ts.ToString("yyyy-MM-dd hh:mm")</small>
            @if (Model.Modify_Ts != null)
            {
                <small class="gray headerItems">Last Edited: @(((DateTime)Model.Modify_Ts).ToString("yyyy-MM-dd hh:mm"))</small>
            }
            <small class="gray view_count headerItems">@string.Format("{0:n0}", @Model.view_count)</small>

        </div>
        <div class="blogContent">
            @Html.Raw(@Model.Markdown_Content)
        </div>
        <div class="blogFooter">
            <div class="category">
                Category:
                <a href="/category/@Model.Category" class="l">@Model.Category</a>
            </div>
            <div id="fb-root"></div>
            <div class="fb-like" data-href="@dhref" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"
                 style="padding:2px 10px"></div>
            @if (!string.IsNullOrEmpty(@Model.Tags))
            {
                <div class="tags">
                    Tags:
                    @foreach (var item in @Model.Tags.Split(','))
                    {
                        if (item != "")
                        {<a href="/tag/@item.Trim()" class="l" style="margin-right:4px">@item.Trim()</a>}
                }
                </div>
            }
        </div>
    </div>

    <div class="NextPrevPanel">
        @{BlogIdPair PrevBlog = @BlogFactory.GetBlogPrevBlog(Model.Id);}
        @{BlogIdPair NextBlog = @BlogFactory.GetBlogNextBlog(Model.Id);}
        @if (PrevBlog != null)
        {
            <div class="PrevBlog">
                <small>Prev Article</small>
                <br />
                <a href="/blog/@PrevBlog.Id" class="l">@PrevBlog.Title</a>
            </div>
        }
        @if (NextBlog != null)
        {
            <div class="NextBlog">
                <small>Next Article</small>
                <br />
                <a href="/blog/@NextBlog.Id" class="l">@NextBlog.Title</a>
            </div>
        }
    </div>
    <div id="disqus_thread"></div>
    <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
            this.page.url = "https://cancode.co/blog/@Model.Id";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "@Model.Id @Model.Title"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            this.language = "zh_TW";
        };
        
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://cancode-co.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
<partial name="~/Views/Shared/_sidebar.cshtml" />