@model Blog
<head>
    <link rel="stylesheet" href="~/lib/highlight/styles/vs2015.css">
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="ly0yUY51"></script>
    
</head>
<div id="blogBody" class="col-md-9">
    @{string dhref = string.Format("https://hychan.asuscomm.com/blog/{0}", Model.Id);}
    <div class="blogPost">
        <a class="blogTitle" href="/blog/@Model.Id">@Model.Title</a>
        @if (ViewData["AdminMode"] != null && (Boolean)ViewData["AdminMode"])
        {
            <a class="l small" href="/blog/edit/@Model.Id" style="float:right">Edit</a>
        }
        <div class="header">
            <small class="gray">@Model.Create_Ts.ToString("yyyy-MM-dd hh:mm")</small>
            @{Random rnd = new Random();
                int ranComment = rnd.Next(1, 13);
                int ranReadCount = rnd.Next(1, 10000);
            }
            <small class="gray view_count">@string.Format("{0:n0}", @Model.view_count)</small>
            <small class="orange comment_count">(@ranComment)</small>
        </div>
        <div class="blogContent">
            @Html.Raw(@Model.Markdown_Content)
        </div>
        <div class="blogFooter">
            <div class="category">
                Category:
                <a href="/category/@Model.Category" class="l">@Model.Category</a>
            </div>
            <div id="fb-root"></div>
            <div class="fb-like" data-href="@dhref" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"
                    style="padding:2px 10px"></div>
            @if (!string.IsNullOrEmpty(@Model.Tags))
            {
                <div class="tags">
                    Tags:
                    @foreach (var item in @Model.Tags.Split(','))
                    {
                        if (item != "")
                        {<a href="/tags/@item.Trim()" class="l" style="margin-right:4px">@item.Trim()</a>}
                }
                </div>
            }
        </div>
    </div>

    <div class="NextPrevPanel">
        @{BlogIdPair PrevBlog = @BlogFactory.GetBlogPrevBlog(Model.Id);}
        @{BlogIdPair NextBlog = @BlogFactory.GetBlogNextBlog(Model.Id);}
        @if (PrevBlog != null)
        {
            <div class="PrevBlog">
                <small>Prev Article</small>
                <br />
                <a href="/blog/@PrevBlog.Id" class="l">@PrevBlog.Title</a>
            </div>
        }
        @if (NextBlog != null)
        {
            <div class="NextBlog">
                <small>Next Article</small>
                <br />
                <a href="/blog/@NextBlog.Id" class="l">@NextBlog.Title</a>
            </div>
        }
    </div>

    <div class="fb-comments bottom" data-href=@dhref data-numposts="10" data-width="100%"></div>
</div>
<partial name="~/Views/Shared/_sidebar.cshtml" />