@model IEnumerable<Blog>

<link rel="stylesheet" href="~/lib/highlight/styles/vs2015.css">
<script src="~/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script id="dsq-count-scr" src="//cancode-co.disqus.com/count.js" async></script>
<div id="blogBody" class="col-md-9">
    @if (ViewData["CurrentRoute"] != null)
    {
        <div class="blogPost">
            <a class="blogTitle">Searching: @ViewData["CurrentRoute"]</a>
        </div>
    }
    @foreach (Blog blog in Model)
    {
        <div class="blogPost">
            <a class="blogTitle" href="/blog/@blog.Id">@blog.Title</a>
            <div class="header">
                <small class="gray headerItems">@blog.Create_Ts.ToString("yyyy-MM-dd hh:mm")</small>
                @if (blog.Modify_Ts != null)
                {
                    <small class="gray headerItems">Last Edited: @(((DateTime)blog.Modify_Ts).ToString("yyyy-MM-dd hh:mm"))</small>
                }
                <small class="gray view_count headerItems">@string.Format("{0:n0}", blog.view_count)</small>
                <a href="https://cancode.co/blog/@blog.Id#disqus_thread" class="orange headerItems"></a>
            </div>
            <div class="blogContent">
                @(blog.Markdown_Content == null ? "" : new string(System.Text.RegularExpressions.Regex.Replace(blog.Markdown_Content, "<.*?>", String.Empty).Take(200).ToArray()))
                <a href="/blog/@blog.Id" class="l">@(blog.Markdown_Content != null && blog.Markdown_Content.Count() > 200 ? "...(more)" : "")</a>
            </div>
            <div class="blogFooter">
                <div class="category">
                    Category:
                    <a href="/category/@blog.Category" class="l">@blog.Category</a>
                </div>
                @if (!string.IsNullOrEmpty(blog.Tags))
                {
                    <div class="tags">
                        Tags:
                        @foreach (var item in blog.Tags.Split(','))
                        {
                            if (item != "")
                            {<a href="/tag/@item.Trim()" class="l" style="margin-right:4px">@item.Trim()</a>}
                    }
                    </div>
                }
            </div>
        </div>
    }
    <partial name="~/Views/Shared/_pagination.cshtml" />
</div>
<partial name="~/Views/Shared/_sidebar.cshtml" />