@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Title";
}

<partial name="~/Views/Shared/_sidebar.cshtml" />
<div id="blogBody">
    @if (ViewData["CurrentRoute"] != null)
    {
        <div class="blogPost">
            <a class="blogTitle">Searching: @ViewData["CurrentRoute"]</a>
        </div>
    }

    @foreach (Blog blog in Model)
    {
        <div class="blogPost">
            <a class="blogTitle" href="/blog/@blog.Id">@blog.Title</a>
            <div class="header">
                <small class="gray">@blog.Create_Ts.ToString("yyyy-MM-dd hh:mm")</small>
                @{Random rnd = new Random();
                    int ranComment = rnd.Next(1, 13);
                    int ranReadCount = rnd.Next(1, 10000);
                }
                <small class="gray">@string.Format("{0:n0}+", ranReadCount % 100 * 100)</small>
                <small class="orange">(@ranComment)</small>
            </div>
            <div class="blogContent">
                @if ((Boolean)ViewData["ListMode"])
                {
                    @(new string(blog.Markdown_Content.Take(500).ToArray()) + "...");<a href="/blog/@blog.Id" class="l">(more)</a>

                }
                else
                {
                    @Html.Raw(Westwind.AspNetCore.Markdown.Markdown.Parse(blog.Markdown_Content))
                }
            </div>
            <div class="blogFooter">
                <div class="category">
                    Category:
                    <a href="/category/@blog.Category" class="l">@blog.Category</a>
                </div>
                @if (!string.IsNullOrEmpty(blog.Tags))
                {
                    <div class="tags">
                        Tags:
                        @foreach (var item in blog.Tags.Split(','))
                        {
                            if (item != "")
                            {<a href="/tags/@item.Trim()" class="l" style="margin-right:4px">@item.Trim()</a>}
                    }
                    </div>
                }
            </div>
        </div>
    }
    @if ((Boolean)ViewData["ListMode"])
    {
        <partial name="~/Views/Shared/_pagination.cshtml" />
    }
    else
    {
        <div class="NextPrevPanel">
            @{BlogIdPair PrevBlog = @BlogFactory.GetBlogPrevBlog((int)ViewData["BlogId"]);}
            @{BlogIdPair NextBlog = @BlogFactory.GetBlogNextBlog((int)ViewData["BlogId"]);}
            @if (PrevBlog != null)
            {
                <div class="PrevBlog">
                    <small>Prev Article</small>
                    <br />
                    <a href="/blog/@PrevBlog.Id" class="l">@PrevBlog.Title</a>
                </div>
            }
            @if (NextBlog != null)
            {
                <div class="NextBlog">
                    <small>Next Article</small>
                    <br />
                    <a href="/blog/@NextBlog.Id" class="l">@NextBlog.Title</a>
                </div>
            }
        </div>
    }
</div>