@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Title";
}

<partial name="~/Views/Shared/_sidebar.cshtml" />
<div id="blogBody">
    @foreach (Blog blog in Model)
    {
        <div class="blogPost">
            <a class="blogTitle" href="/blog/@blog.Id">@blog.Title</a>
            <div class="header">
                <small class="gray">@blog.Create_Ts.ToString("yyyy-MM-dd hh:mm")</small>
                @{Random rnd = new Random();
                    int ranComment = rnd.Next(1, 13);
                    int ranReadCount = rnd.Next(1, 10000);}
                <small class="gray">@string.Format("{0:n0}+", ranReadCount%100*100)</small>
                <small class="orange">(@ranComment)</small>
            </div>
            <div class="blogContent">
                @if ((Boolean)ViewData["Preview"])
                {
                    @(blog.Markdown_Content.Substring(0, 500) + "...");<a href="/blog/@blog.Id" class="l">(more)</a>
                }
                else
                {
                    @blog.Markdown_Content;
                }
            </div>
            <div class="blogFooter">
                <div class="category">
                    Category:
                    <a href="/category/@blog.Category" class="l">@blog.Category</a>
                </div>
                @if (!string.IsNullOrEmpty(blog.Tags))
                {
                    <div class="tags">
                        Tags:
                        @foreach (var item in blog.Tags.Split(','))
                        {
                            <a href="/tags/@item" class="l">@item</a>
                        }
                    </div>
                }
            </div>
        </div>
    }
    <div class="pageIndexer">1,2,3,4,5</div>
</div>

